.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/package*.json
webview-ui/tsconfig.json